<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" id=customer_id>
      <%= f.label :customer %><br />
      <%= f.collection_select :customer_id, Customer.all, :id, :name,
                               :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :feedback %><br />
    <%= f.text_area :name,  :class => "input-xxlarge", :placeholder => 'Give your feedback here.' %>
  </div>
    <div class="field">
      <input type ="checkbox" id ="Anonymous" name="Remain Anonymous" onclick="makeAnonymous()">&nbsp;&nbsp;&nbsp;Remain Anonymous<br/>
    </div>
  <div class="field" id="name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" id="email">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field" id="contactno">
    <%= f.label :contactno %><br />
    <%= f.text_field :contactno, :size => 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-medium" %>
<!--
    <a>&nbsp;Or&nbsp;</a>
    <%= f.submit "Submit and Give more feedback", class:"btn btn-medium" %>
-->
  </div>
 <% end %>
