<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      function makeAnonymous()
      {
          if (!document.getElementById('Anonymous').checked) {
              document.getElementById('name').style.visibility = 'visible';
              document.getElementById('email').style.visibility='visible' ;
              document.getElementById('contactno').style.visibility='visible';
          } else {
              document.getElementById('name').style.visibility='hidden' ;
              document.getElementById('email').style.visibility='hidden' ;
              document.getElementById('contactno').style.visibility='hidden';
          }
      }
  </script>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "FeedBackValued", 'root_path', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    'root_path' %></li>
          <li><%= link_to "Help",    'help_path' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
